.custom-box:hover{
	-moz-box-shadow: 0 0 10px #ccc;
	-webkit-box-shadow: 0 0 10px #ccc;
	box-shadow: 0 0 10px #ccc;
	}

.custom-box{
	background-color:#19b8fc;
	cursor:pointer;
	}

.alertbox{
	background-color:#fafafa;
	}